<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<frontendThemes>
		<add path="/App_Data/Sitefinity/WebsiteTemplates/SemyouNew/App_Themes/Semyou" namespace="" assemblyInfo="" name="Basic" config:flags="1" />
		<add path="/App_Data/Sitefinity/WebsiteTemplates/Semyou/App_Themes/Semyou" name="Semyou" />
		<add path="/App_Data/Sitefinity/WebsiteTemplates/Semyou/App_Themes/Documents" name="Documents" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/SemyouNew/App_Themes/Semyou" name="SemyouTheme" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/SemyouNew/App_Themes/Semyou" name="NewTheme" />
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/SemyouBlog/App_Themes/SemyouBlog" name="Semyou Blog" />
	</frontendThemes>
</appearanceConfig>