<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" encryptionKey="[sf-scrt-rslvr=Encrypt]A7pOwaBXCDjCk25p+V9cnpV9F+ffqIxdQtQXBhzrGLooWyNd5RK4scSwNcHD5H7sI8ZnxtVBLg4m2SB7fWiJ9WI6rf4yvEMoKgX7Yxu4IdQ7CfgnY3TIXLIhP7ud36pq9nXFdNt/2VAflm482U3pfpccpc4dHB/FMTcNW8JzAdAnsdELuZZ5l/GR2uupVdsbgAAAAA==" />