<?xml version="1.0" encoding="utf-8"?>
<controlsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<viewMap>
		<viewSettings hostType="Telerik.Sitefinity.Services.Search.Web.UI.Public.SearchBox, Telerik.Sitefinity.Search.Impl" layoutTemplatePath="~/Custom/Templates/Search/SearchBox.ascx" />
	</viewMap>
</controlsConfig>