<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" initialized="True" guidGenerationStrategy="Incremental">
	<databaseMappingOptions splitTablesIgnoredCultures="en,de">
		<azureOptions useMsSqlIdentifierLimitations="False" />
	</databaseMappingOptions>
	<connectionStrings>
		<add connectionString="Server=sy-dbs-cms.database.windows.net;User ID=USER_CMS_DEV;Password=xAwn5#idPZu44OJCmkG2;Database=SEMYOU_CMS_2021; Trusted_Connection=False;Encrypt=True" dbType="SqlAzure" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator, Telerik.Sitefinity.Forums" name="Forums" />
	</urlEvaluators>
</dataConfig>