<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<notifications enabled="True" formEntrySubmittedNotificationTemplateId="03ece3b6-a89d-63ac-a747-ff000001ef3c" updatedFormEntrySubmittedNotificationTemplateId="2778edb6-a89d-63ac-a747-ff000001ef3c" senderProfile="Default" />
	<contentViewControls>
		<contentViewControl definitionName="FormsBackend" config:flags="1">
			<views>
				<view viewName="FormsBackendList" config:flags="1">
					<sidebar>
						<sections>
							<section visible="False" name="ManageAlso" config:flags="1" />
						</sections>
					</sidebar>
				</view>
			</views>
		</contentViewControl>
	</contentViewControls>
</formsConfig>