<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<profiles>
		<add defaultSenderEmailAddress="cms@semyou.com" host="smtp.office365.com" port="587" useAuthentication="True" username="cms@semyou.com" password="AVj:JFGd@((V{" useSSL="True" profileName="Default" config:flags="1" />
		<add defaultSenderEmailAddress="cms@semyou.com" host="smtp.office365.com" port="587" useAuthentication="True" username="cms@semyou.com" password="[sf-scrt-rslvr=Encrypt]KcPhOuJqMEhtzfLqrPBjlPguyqVwFyaLFklPQFB9z3BTYso6zWQehxoAAAA=" useSSL="True" profileName="SystemConfigSmtpSettingsMigrated" type:this="Telerik.Sitefinity.Services.Notifications.Configuration.SmtpSenderProfileElement, Telerik.Sitefinity.Services.Notifications.Impl" />
	</profiles>
</notificationsConfig>