<?xml version="1.0" encoding="utf-8"?>
<pagesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" defaultFrontendTemplateId="4c7df3b6-a89d-63ac-a747-ff000001ef3c" enableBrowseAndEdit="True" pageTemplatesFrameworks="All">
	<errorPages mode="Disabled" />
</pagesConfig>