<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" projectName="semyou" dateCreated="2013-10-24 05:57:44Z">
	<defaultSite id="a16904f9-8583-4eaa-b34c-bc38f14c4d4b" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="659bf2b6-a89d-63ac-a747-ff000001ef3c" />
</projectConfig>