<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0" defaultCultureKey="">
	<cultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
		<add culture="de" uiCulture="de" key="german-de" />
	</cultures>
	<backendCultures>
		<clear />
		<add culture="en" uiCulture="en" key="english-en" />
	</backendCultures>
</resourcesConfig>