<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<siteConfigs>
		<add siteName="default" lastExecutionTime="2019-04-23T05:11:45.3935603Z" siteId="a16904f9-8583-4eaa-b34c-bc38f14c4d4b" />
	</siteConfigs>
</sitemapConfig>