<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.2.7500.0">
	<applicationModules>
		<add startupType="Disabled" name="Multisite" config:flags="1" />
		<add startupType="Disabled" name="Newsletters" config:flags="1" />
		<add startupType="Disabled" name="ResponsiveDesign" config:flags="1" />
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add type="Telerik.Sitefinity.Audit.Elasticsearch.ElasticsearchAuditModule, Telerik.Sitefinity.Audit.Elasticsearch, Version=9.1.6110.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" name="ElasticsearchAudit" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="WebSecurity" config:flags="1" />
	</applicationModules>
	<smtpSettings host="smtp.office365.com" port="587" userName="cms@semyou.com" password="[sf-scrt-rslvr=Encrypt]UGa6/1VqUTKQd4C2as/4opMgNF7AGyTdjAISPM9RwihjCJNTSkbsgxoAAAA=" enableSSL="True" DefaultSenderEmailAddress="cms@semyou.com" />
	<servicesPaths workflowBaseUrl="http://159.122.83.58:8080/" />
	<filesModuleConfig maxFileSize="1004800" />
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.TypeSettings, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.LifecycleTypeSettings, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CustomStrategyTypeSettings, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.Api.Configuration.PropertyMapping, Telerik.Sitefinity.Web.Api">
			<implementations>
				<add type="Telerik.Sitefinity.Web.Api.Configuration.CalculatedPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.NavigationPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.ComplexPropertyMapping, Telerik.Sitefinity.Web.Api" />
				<add type="Telerik.Sitefinity.Web.Api.Configuration.Properties.ClassPropertyMapping, Telerik.Sitefinity.Web.Api" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.AuthenticationProviderElement, Telerik.Sitefinity.Authentication">
			<implementations>
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.WindowsAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.AdfsAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.FacebookAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.GoogleAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.MicrosoftAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.TwitterAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.LinkedInAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.GitHubAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
				<add type="Telerik.Sitefinity.Authentication.Configuration.SecurityTokenService.ExternalProviders.OpenIDConnectAuthenticationProviderElement, Telerik.Sitefinity.Authentication" />
			</implementations>
		</add>
	</typeImplementationsMapping>
	<outputCacheSettings>
		<profiles>
			<add varyByParams="*" name="No Caching" config:flags="1" />
			<add location="ServerAndClient" maxAge="120" varyByParams="*" name="Standard Caching" config:flags="1" />
			<add varyByParams="*" name="Long Caching" config:flags="1" />
			<add varyByUserAgent="True" varyByParams="*" name="Any Location" config:flags="1" />
		</profiles>
		<mediaProfiles>
			<add duration="120" name="Standard Caching" config:flags="1" />
			<add duration="1200" name="Long Caching" config:flags="1" />
		</mediaProfiles>
	</outputCacheSettings>
	<seoAndOpenGraphConfig enabledSEO="False" enabledOpenGraph="False" />
</systemConfig>