@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

<ul class="@Model.CssClass sf-Tags list-unstyled term-filters term-filters-product">
    @foreach (var taxa in Model.Taxa)
    {
        <li>
            <a href="@taxa.Url" class="termfilter-semyou">@taxa.Title</a>
          
        </li>
    }
</ul>